PhotonTest/Library/
PhotonTest/obj/
PhotonTest/Temp/
PhotonTest/UWP/
PhotonTest/packages/
PhotonTest/.vs/
PhotonTest/app.config
*.mp4
*.userprefs
*.user
*.sln
*.csproj
*.pdf


# Builds
*.apk
*.unitypackage
